[submodule "libs/cl-paypal"]
	path = libs/cl-paypal
	url = git@github.com:hanshuebner/cl-paypal.git
[submodule "libs/bknr-web"]
	path = libs/bknr-web
	url = git@github.com:hanshuebner/bknr-web.git
[submodule "libs/bknr-datastore"]
	path = libs/bknr-datastore
	url = git@github.com:hanshuebner/bknr-datastore.git
[submodule "libs/cl-smtp-hh"]
	path = libs/cl-smtp-hh
	url = git@github.com:hanshuebner/cl-smtp-hh
[submodule "libs/cl-oauth"]
	path = libs/cl-oauth
	url = git@github.com:hanshuebner/cl-oauth
[submodule "libs/cl-gd"]
	path = libs/cl-gd
	url = git@github.com:edicl/cl-gd
[submodule "libs/hunchentoot"]
	path = libs/hunchentoot
	url = git@github.com:edicl/hunchentoot
[submodule "libs/chunga"]
	path = libs/chunga
	url = git@github.com:edicl/chunga
